.App {
  text-align: center;
}

.Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Container > * {
  flex: 0;
}

.Form {
  display: flex;
  flex-direction: column;
}
